<div class="bg-dark-900 text-light-100 font-bold h-screen py-6 flex flex-col gap-8 items-center">
  <h1 class="text-3xl text-center">Hello Zelda</h1>
  <form #form="ngForm" class="w-[60%]">
    <input pInputText pSize="large" type="text" name="userInput" class="w-full" [(ngModel)]="userInput"
      (keydown.enter)="onEnter()" />
  </form>
  @if(userInput) {
  <div class="w-[60%] overflow-hidden">
    <img [src]="'assets/' + userInput + '.jpg'" alt="" class="h-full mx-auto">

  </div>

  }
</div>